name: PakAgri Official Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: |
          # Create the required folders
          mkdir -p lib
          # Move your code into the lib folder
          cp main.dart lib/main.dart
          # Create the configuration file
          cat <<EOF > pubspec.yaml
          name: pak_agri_app
          version: 1.0.0+1
          environment:
            sdk: '>=3.0.0 <4.0.0'
          dependencies:
            flutter:
              sdk: flutter
          flutter:
            assets:
              - PakAgriBrain.tflite
              - labels.txt
          EOF
      - run: flutter pub get
      - run: flutter build apk --release --no-tree-shake-icons
      - name: Upload Final APK
        uses: actions/upload-artifact@v4
        with:
          name: PakAgri-Official-App
          path: build/app/outputs/flutter-apk/app-release.apk
